<div class="bg-light mb-4 mt-10" style="background: url(https://res.cloudinary.com/dcu3hr3eo/image/upload/v1675475193/37E3BFE5-D357-439F-9693-F0F93D1DA97F_ufg68z.jpg) center no-repeat; background-size: cover; min-height: 210px">

  <div class="bg-light_ banner p-4 m-30">
<div class="container" >
  <div class="row row-cols-2o 1">
    <div class="col-1 ccol">
      <!-- 30% width column content here -->
      <img class ="hide rounded w-3"  style="width:80%" src="https://res.cloudinary.com/dcu3hr3eo/image/upload/v1675475193/37E3BFE5-D357-439F-9693-F0F93D1DA97F_ufg68z.jpg" />
      
    </div>
    <div class="col-11 xcol">
      <!-- 70% width column content here -->
          <h2 class="banner-h dukia-color_ text-white">Buy & Sell Gold</h2>
    <div class="talk text-large fw-light text-white">
Dukia Gold, your trustworthy refiner and bullion merchant.
     <div> <a href="/buy-now" data-link class="mt-2 btn btn-sm btn-outline-light yellow3-b cta-w bg-white text-dark"> Buy Now</a>
    </div>
    </div>
    
      
    </div>
  </div>
</div>
</div>
</div>

<div class="container-fluid bg-light w-100h" >


<div class="container-fluid bg-light">
<div class="row">
  <div class="slider">
      {{#each products}}
<div class="card mx-2 py-4 px-4 no-border" style="width: 18rem; position:relative; ">
  <img data-lazy="{{image}}" class="card-img-top w-4" alt="..." style="">
  <div class="card-body">
    <h6 class="card-title text-sm fw-bold"><a href="/product/{{id}}" data-link>{{heading}}</a></h6>
    <p class="card-text">
      {{reduceString description}}
    </p>
    <a id="addToCart" href="#"  item-id="{{id}}" item-name="{{heading}}" class="rounded btn btn-outline-primary btn-sm w-100"   data-toggle="modal" data-target="#addtoCartNotice" data-product-name="{{heading}} X" data-rate="1" data-bs-toggle="modal" data-bs-target="#addtoCartNotice"><i class="fa fa-cart-plus" aria-hidden="true"></i>
      </a>
  </div>
<div class="hide" style="position: absolute; top: 17px; right: 10px; padding: 11px;  border-radius: 50%; border: solid 1px var(--primary)">
  <a href="#" class="dukia-color" id="addToCart" item-id="{{id}}" > 
    <i class="fa fa-cart-plus" class="dukia-color"></i></a>
  </div>
  
</div>

  {{/each}}
    
</div>
			
  
</div>

</div>

</div>
<!-- Modal -->
<div class="modal fade" id="addtoCartNotice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Item Added to Cart!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label id="mCartProduct"></label>
        <div class="container-fluid">
  <div class="row">
    <div class="col-4 p-2">
      <img src="product-image.jpg" alt="Product Image" class="img-fluid">
    </div>
    <div class="col-8 p-2">
      <h5>Product Name</h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 p-2">
      <h6>Product Subtotal</h6>
    </div>
    <div class="col-6 p-2 text-right">
      <h6>$100</h6>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 p-2 text-center">
      <h6>Shipping Terms Apply</h6>
    </div>
  </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
<scrpt src="./views/home.js" ></scrpt>